@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
  }
  
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 3%;
    font-family: 'Red Hat Display', sans-serif;
  }
  .content > h1 {
    font-size: 4ch;
  }
  p {
      font-size: 2ch;
  }

  #myBtn {
    width: 200px;
    font-size: 18px;
    margin-top:1%;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }