@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Mono', monospace;
    max-height: 100vh;
}

nav {
    padding: auto 1rem auto 1rem;
    background: linear-gradient(40deg, rgba(209,184,107,1) 0%, rgba(255,111,145,1) 49%, rgba(132,94,194,1) 100%);
    height: 10vh;
    color: white;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    padding: 1%;
}

.course-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1.25rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.list-buttons {
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
    color: white;
}
li {
    display: block;
    padding: 1rem;
}

li:hover {
    background-color: rgba(226, 206, 93, 0.644);
    border-radius: 1rem;
}
.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3%;
    background: linear-gradient(40deg, rgba(209,184,107,1) 0%, rgba(255,111,145,1) 49%, rgba(132,94,194,1) 100%);
    height: 10vh;
    color: white;
    font-size: 1.40rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.content {
    display: grid;
    grid-template-rows: 20% 80%;
    height: 80vh;
    background-color: white;
    text-align: center;
    padding-top: 5%;
}

.title {
    font-size: 1.7vw;
    background: linear-gradient(40deg, rgba(209,184,107,1) 0%, rgba(255,111,145,1) 30%, rgba(132,94,194,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.card-flex {
    display: flex;
    justify-content: space-around;
}
.card {
    background-size: 8vw 12vh;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15%;
    color: black;
    transition: transform .2s;
    width: 20vw;
    height: 35vh;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.card_content {
    margin-top: 15%;
}
#act1 {
    background-image: url(../img/homepage/image_icon.png);
    background-color: rgba(209,184,107,1);
}

#act2 {
    background-image: url(../img/homepage/music_icon.png);
    background-color: rgba(255,111,145,1);
}

#act3 {
    background-image: url(../img/homepage/video_icon.png);
    background-color: rgb(175, 69, 176)
}

#act4 {
    background-image: url(../img/homepage/space_icon.png);
    background-color: rgba(132,94,194,1)
}

@media screen and (max-width: 600px) {
    .card-flex {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 50%;
    }
}